@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px; /* so header doesn't cover section title */
}

:root {
  /* BRAND COLORS (from logo) */
  --brand-bg: #053827;        /* green */
  --brand-panel: #042e22;     /* darker panel */
  --brand-green2: #064130;    /* slightly lighter green */
  --brand-yellow: #f0d186;    /* gold */
  --brand-yellow2: #f6dd9f;   /* lighter gold for hover */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  direction: rtl;
  background: var(--brand-bg); /* hard force */
}
