@import "tailwindcss";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px; /* so header doesn't cover section title */
}

:root {
  --brand-bg: #062c24;
  --brand-yellow: #d9ff4a;
  --brand-yellow2: #c8f000;
  --brand-green: #0d6b57;
  --brand-green2: #12826a;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Heebo", system-ui, sans-serif;
  direction: rtl;
  background: var(--brand-bg); /* hard force */
}
